*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F3F3F3;
}
.navi-wrapper{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: black;
    opacity: 0.8;
    z-index: 9;
}
.logo{
    position: relative;
    height: 38px;
    float: left;
    top: 6px;
    left: 80px;
    /*transition: 0.2s*/
}
.navi{
    width: 590px;
    height: 50px;
    float: right;
}
.navi-li{
    float:left;
    list-style-type: none;
    line-height: 50px;
    text-align: center;
    height: 40px;
    overflow: hidden;
    transition: 0.3s;
}
#brand:hover{
    height: 200px;
    background-color: black;
}
.navi-li a{
    display: block;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    font-family: 文泉驿等宽微米黑;
    font-size: 0.9em;
}
.navi-li a:hover{
    color: deepskyblue;
    transform: scale(1.2);
}
#brand{
    padding-left: 3px;
    padding-right: 3px;
}
#products{
    width: 90px;
    height: 50px;
    overflow: hidden;
    transition:0.3s;
    background-color: black;
}
#products:hover{
    height: 200px;
    /*transform: scale(1.1);*/
}
#news{
    padding-left: 10px;
    padding-right: 10px;
}
#jobs{
    padding-left: 10px;
    padding-right: 10px;
}
#contact-us{
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
/*下面是screen*/
.screen-one{
    position: relative;
    height: 680px;
    width: 100%;
    overflow: hidden;
}
#span-activity{
    left: 20%;
    z-index: 8;
    position: absolute;
    top: 300px;
    color: white;
    font-size: 2.5em;
    font-family: serif;
}
#span-activity a{
    text-decoration: none;
    color: white;
}
.screen-two{
    position: relative;
    top: 10px;
    height: 680px;
    width: 100%;
    overflow: hidden;
}
#span-armadillo{
    left: 25%;
    z-index: 8;
    position: absolute;
    top: 270px;
    color: white;
    font-size: 3em;
    font-family: serif;
}
#span-armadillo a{
    text-decoration: none;
    color: white;
}
.screen-three{
    position: relative;
    top: 20px;
    height: 680px;
    width: 100%;
    overflow: hidden;
}
#span-certificates{
    left: 15%;
    z-index: 8;
    position: absolute;
    top: 250px;
    color: white;
    font-size: 3em;
    font-family: serif;
}
#span-certificates a{
    text-decoration: none;
    color: white;
}
.screen-four{
    position: relative;
    top: 30px;
    height: 680px;
    width: 100%;
    overflow: hidden;
}
#span-operation{
    left: 33%;
    z-index: 8;
    position: absolute;
    top: 280px;
    color: white;
    font-size: 3em;
    font-family: serif;
}
#span-operation a{
    text-decoration: none;
    color: white;
}
#span-tech-team{
    left: 15%;
    z-index: 8;
    position: absolute;
    top: 250px;
    color: white;
    font-size: 3em;
    font-family: serif;
}
#span-tech-team a{
    text-decoration: none;
    color: white;
}
.screen-five{
    position: relative;
    top: 40px;
    height: 680px;
    width: 100%;
    overflow: hidden;
}
.screen-final{
    position: relative;
    top: 50px;
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.info{
    position: absolute;
    left: 100px;
    top: 30px;
}
.span-contact{
    z-index: 8;
    color: white;
    font-family: serif;
}
#contact-name{
    position: relative;
    font-size: 3em;
    font-family: 文泉驿等宽微米黑;
}
#contact-site{
    position: relative;
    top: 15px;
}
#contact-number-one{
    position: relative;
    top: 25px;
}
#contact-number-two{
    position: relative;
    top: 35px;
}
#contact-number-three{
    position: relative;
    top: 45px;
}
#contact-address{
    position: relative;
    top: 55px;
}












/*针对所有页面的描述性段落*/
.description{
    width: 70%;
    left: 15%;
    font-size: 1.5em;
}





/*品牌CSS*/
.screen-final-brand{
    position: relative;
    top: 50px;
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.brand-screen-one{
    height: 900px;
    background-color: slategrey;
    position: relative;
}
.brand-screen-two{
    height: 900px;
    background-color: slategrey;
    position: relative;
    top: 10px;
}
.brand-screen-three{
    height: 900px;
    background-color: darkslategrey;
    position: relative;
    top: 20px;
}
.brand-screen-four{
    height: 900px;
    background-color: darkslategrey;
    position: relative;
    top: 30px;
}
.brand-screen-five{
    height: 900px;
    background-color: darkslategrey;
    position: relative;
    top: 40px;
}
#company-intro-one{
    position: relative;
    background-color: darksalmon;
    top: 700px;
}
#company-intro-two{
    position: relative;
    background-color: cornflowerblue;
    top: 600px;
}
#company-intro-three{
    position: relative;
    background-color: slategrey;
    top: 850px;
}





/*工作机会CSS*/
.screen-final-jobs{
    position: relative;
    top: 20px;
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.jobs-screen-one{
    position: relative;
    width: 100%;
    height: 680px;
    overflow: hidden;
}
#jobs-slogan-EN{
    position: absolute;
    top: 420px;
    font-size: 1.7em;
    z-index: 8;
    color: white;
    text-align: justify;
}
.jobs-screen-two{
    position: relative;
    top: 10px;
    width: 100%;
    height: 680px;
    overflow: hidden;
    background-color: slategrey;
}
.job-quiz{
    position: relative;
    left: 20%;
    top: 150px;
    font-size: 2.3em;
    color: #F3F3F3;
}
.job-kind{
    position: relative;
    left: 6%;
    top: 200px;
    height: 290px;
    width: 280px;
    width: 280px;
    background-color: white;
    float: left;
    margin: 50px;
    padding: 10px;
    border-radius:10px;
    transition: 0.3s;
}
.job-kind:hover{
    transform: scale(1.1);
    box-shadow: 8px 5px 30px 1px black;
    background-color: white;
}
.job-kind div{
    text-align: center;
    position: relative;
    margin-top: 40px;
}
.job-kind a{
    text-decoration: underline;
    color: cornflowerblue;
}